#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.container {
  width: 100vw;
  display: flex;
  align-content: space-between;
  justify-content: center;
  background-color: transparent;
}
.icon{
  margin: 0px 8px !important;
}